{% extends "layout.html" %}
{% block content %}
  <div id="cuerpoHeredado">
    <br>
    <h2>{{title}} Publicaciones</h2>
    {% if title == "Modificar" %}
    <form action="{{ url_for('modify_publication', id=id) }}" method=POST>
    {% else %}
    <form action="{{ url_for('add_publication') }}" method=POST>
    {% endif %}
      {{ form.publication.label }}
      {{ form.publication }}
      {{ form.date.label }}
      {{ form.date }}
      {{ form.description.label }}
      {{ form.description }}
      {{ form.submit }}
    </form>
  </div>
{% endblock %}