{% extends "layout.html" %}
{% block content %}
  <div id="cuerpoHeredado">
    <br>
    <h2>{{title}} Eventos</h2>
    {% if title == "Modificar" %}
    <form action="{{ url_for('modify_event', id=id) }}" method=POST>
    {% else %}
    <form action="{{ url_for('add_event') }}" method=POST>
    {% endif %}
      {{ form.event.label }}
      {{ form.event }}
      {{ form.date.label }}
      {{ form.date }}
      {{ form.institution.label }}
      {{ form.institution }}
      {{ form.description.label }}
      {{ form.description }}
      {{ form.submit }}
    </form>
  </div>
{% endblock %}