{% extends "layout.html" %}
{% block content %}
  <div id="cuerpoHeredado">
    <h1 class="page-header">Calendario</h1>
    <div class="col-md-6">
      <form action="#">
        <table border='0' cellpadding='0' cellspacing='0'>
          <tr class='days'>
            <th></th>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miercoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
          </tr>
          <tr>
            <td class='time'>6.00 am</td>
            <td> <input type="checkbox" id="Lunes6Am"/></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class='time'>7.00 am</td>
            <td></td>
            <td class='cs335 blue lab' data-tooltip='Software Engineering &amp; Software Process'>CS335 [Lab]</td>
            <td class='md352 green' data-tooltip='Multimedia Production &amp; Management'>MD352 [Kairos]</td>
            <td></td>
            <td>-</td>
          </tr>
          <tr>
            <td class='time'>8.00 am</td>
            <td></td>
            <td class='cs335 blue lab' data-tooltip='Software Engineering &amp; Software Process'>CS335 [Lab]</td>
            <td class='md352 green' data-tooltip='Multimedia Production &amp; Management'>MD352 [Kairos]</td>
            <td class='cs240 orange' data-tooltip='Operating Systems'>CS240 [CH]</td>
            <td>-</td>
          </tr>
          <tr>
            <td class='time'>9.00 am</td>
            <td></td>
            <td class='md303 navy' data-tooltip='Media &amp; Globalisation'>MD303 [CS2]</td>
            <td class='md313 red' data-tooltip='Special Topic: Multiculturalism &amp; Nationalism'>MD313 [Iontas]</td>
            <td></td>
            <td>-</td>
          </tr>
          <tr>
            <td class='time'>10.00 am</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>-</td>
          </tr>
          <tr>
            <td class='time'>11.00 am</td>
            <td></td>
            <td></td>
            <td class='cs426 purple' data-tooltip='Computer Graphics'>CS426 [CS2]</td>
            <td class='cs240 orange' data-tooltip='Operating Systems'>CS240 [TH1]</td>
            <td>-</td>
          </tr>
          <tr>
            <td class='time'>12.00 pm</td>
            <td></td>
            <td></td>
            <td></td>
            <td class='cs240 orange lab' data-tooltip='Operating Systems'>CS240 [Lab]</td>
            <td>-</td>
          </tr>
          <tr>
            <td class='time'>1.00 pm</td>
            <td></td>
            <td></td>
            <td></td>
            <td class='cs240 orange lab' data-tooltip='Operating Systems'>CS240 [Lab]</td>
            <td>-</td>
          </tr>
          <tr>
            <td class='time'> 2.00 pm</td>
            <td class='cs335 blue' data-tooltip='Software Engineering &amp; Software Process'>CS335 [TH1]</td>
            <td></td>
            <td></td>
            <td></td>
            <td>-</td>
          </tr>
          <tr>
            <td class='time'> 3.00 pm</td>
            <td class='cs335 blue' data-tooltip='Software Engineering &amp; Software Process'>CS335 [TH1]</td>
            <td></td>
            <td></td>
            <td></td>
            <td>-</td>
          </tr>
          <tr>
            <td class='time'> 4.00 pm</td>
            <td class='cs335 blue' data-tooltip='Software Engineering &amp; Software Process'>CS335 [TH1]</td>
            <td></td>
            <td></td>
            <td></td>
            <td>-</td>
          </tr>
          <tr>
            <td class='time'> 5.00 pm</td>
            <td class='cs335 blue' data-tooltip='Software Engineering &amp; Software Process'>CS335 [TH1]</td>
            <td></td>
            <td></td>
            <td></td>
            <td>-</td>
          </tr>
          <tr>
            <td class='time'> 6.00 pm</td>
            <td class='cs335 blue' data-tooltip='Software Engineering &amp; Software Process'>CS335 [TH1]</td>
            <td></td>
            <td></td>
            <td></td>
            <td>-</td>
          </tr>
        </table>
      </form> 
    </div>
  </div>
{% endblock %}  