{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <div id="cuerpoHeredado">
      <h2>Agregar datos de Usuario</h2>
      <form action="{{ url_for('contact') }}" method=POST>
        {{ form.name.label }}
        {{ form.name }}
        {{ form.last_name.label }}
        {{ form.last_name }}
        {{ form.ci.label }}
        {{ form.ci }}
        {{ form.email.label }}
        {{ form.email }}
        {{ form.submit }}
      </form>
    </div>
  </div> 
{% endblock %}