{% extends "layout.html" %}
{% block content %}
  <div id="header">
    <div class="container">
      <center>
        <div class="login">
          <div class="login-screen">
            <div class="app-title">
              <h1>STPeHM</h1>
            </div>
            <div class="login-form">
              <form action="" method="post">
                <div class="control-group">
                  <input type="text" class="login-field" placeholder="Username" name="username" value="{{
                  request.form.username }}">
                  <label class="login-field-icon fui-user" for="login-name"></label>
                </div>
                <div class="control-group">
                  <input type="password" class="login-field" placeholder="Password" name="password" value="{{
                  request.form.password }}">
                  <label class="login-field-icon fui-lock" for="login-pass"></label>
                </div>
                <input class="btn btn-default" type="submit" value="Login">
              </form>
              {% if error %}
                <p class="error"><strong>Error:</strong> {{ error }}
              {% endif %}
              <a href="{{ url_for('contact')}}" id="registrarse"><b>Registrarse</b></a>
            
            </div>
          </div>
        </div>
      </center> 
    </div>
  </div>  
{% endblock %}