{% extends "layout.html" %}
{% block content %}
  <div id="header">
    <div class="container">
      <center>
        <h1>STPeHM</h1>
        <div id="content">
          <form action="{{ url_for('contact') }}" method="get">
            <button name="subject" type="submit" value="fav_HTML">Agregar Usuario </button>
          </form>
          <br>
          <form action="{{ url_for('show_users') }}" method="get">
            <button name="subject" type="submit" value="fav_HTML">Revisar Usuarios</button>
          </form>
        </div>
      </center> 
    </div>
  </div>  
{% endblock %}