<!doctype html>
<html>
  <head>
    {% block head %}
      <!-- Bootstrap -->


      <link href="{{ url_for('static', filename= 'assets/css/bootstrap.css')}}" rel="stylesheet">
      <link href="{{ url_for('static', filename= 'assets/css/bootstrap-theme.css')}}" rel="stylesheet">
      <link href="{{ url_for('static', filename= 'assets/css/style.css')}}" rel="stylesheet">     
      <link href="{{ url_for('static', filename= 'assets/css/modal.css')}}" rel="stylesheet">     
      <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

      <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script-->
      <script type="text/javascript" src="{{ url_for('static', filename= 'assets/js/jquery-1.12.2.min.js')}}" defer></script>
      <script type="text/javascript" src="{{ url_for('static', filename= 'assets/js/delete_user_modal.js')}}" defer></script>
      <script type="text/javascript" src="{{ url_for('static', filename= 'assets/js/roles.js')}}" defer></script>

      <script type="text/javascript" src="{{ url_for('static', filename= 'assets/js/appointments.js')}}" defer></script>

      <script src="{{ url_for('static', filename= 'assets/js/angular/ng-table.min.js')}}"></script>

      <title>{% block title %} STPeHM {% endblock %} </title>
    {% endblock %}
  </head>

  <body>
  <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('login') }}">STPeHM</a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('logout') }}">Salir</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    {% block content %}
    {% endblock %} 
   
    <div id="footer">
      {% block footer %}
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
              <p class="copyright">Copyright &copy; 2016 - Papagayo</p>
            </div>
          </div>    
        </div> 
      {% endblock %}   
    </div>
  </body>
</html>
