{% extends "layout.html" %}
{% block content %}
  <div id="cuerpoHeredado">
    {% if mensaje %}
      <p class="error"> <i class="fa fa-exclamation-triangle"></i>  <strong>{{ mensaje }}</strong></p>
    {% endif %}  
    <h2>Modificar datos de Usuario</h2>
    <form action="{{ url_for('modify_user', ci=ci) }}" method=POST>
   
      {{ form.ci.label }}
      {{ ci }}
      {{ form.username.label}}
      {{ username}}
      {{ form.password.label}}
      <input id="password" name="password" type="password" value="{{password}}">
      {{ form.name.label }}
      {{ form.name }}
      {{ form.last_name.label }}
      {{ form.last_name }}
      {{ form.email.label }}
      {{ form.email }}     
      {{ form.role.label }}
      {{ form.role }}
      {{ form.submit }}
    </form>
  </div>  
{% endblock %}