{% extends "layout.html" %}
{% block content %}
  <div id="cuerpoHeredado">
  <center><h1>Mi Perfil</h1></center>
    <div class="row">
      <!-- left column -->
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="text-center">
          <img src="{{ url_for('static', filename= 'assets/img/avatar.png')}}" class="avatar img-circle img-thumbnail" alt="avatar">
          <h6>Cambiar foto</h6>
          <input type="file" class="text-center center-block well well-sm">
        </div>
      </div>
      <!-- edit form column -->
      <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
        {% if mensaje %}
        <p class="error"> <i class="fa fa-exclamation-triangle"></i>  <strong>{{ mensaje }}</strong></p>
        {% endif %}  
        <form action="{{ url_for('profile_doctor') }}" method=POST>
          {{ form.ci.label }}
          {{ ci }}
          {{ form.username.label }}
          {{ username }}
          <!--{{ form.password.label }}
          {{ form.password }}-->
          {{ form.name.label }}
          {{ form.name }}
          {{ form.last_name.label }}
          {{ form.last_name }}
          {{ form.email.label }}
          {{ form.email }}
          {{ form.sex.label }}
          {{ form.sex }}
          {{ form.date_of_birth.label }}
          {{ form.date_of_birth }}
          {{ form.marital_status.label }}
          {{ form.marital_status }}
          {{ form.telephone.label }}
          {{ form.telephone }}
          {{ form.address.label }}
          {{ form.address }}
          <!-- DOCTOR PROFILE-->
          {{ form.habilities.label }}
          {{ form.habilities }}
          {{ form.pregrade.label }}
          {{ form.pregrade }}
          {{ form.postgrade.label }}
          {{ form.postgrade }}
          {{ form.experience.label }}
          {{ form.experience }}
          {{ form.courses.label }}
          {{ form.courses }}
          {{ form.seminars.label }}
          {{ form.seminars }}
          {{ form.publications.label }}
          {{ form.publications }}
          {{ form.awards.label }}
          {{ form.awards }}

          {{ form.submit }}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}  