{% extends "layout.html" %}
{% block content %}
<div id="cuerpoHeredado">
<!--GESTION DE ESPECIALIZACIONES-->
  <div id="myModal_specialization" class="modal-content">
    <div class="modal-header">
      <span class="close">×</span>
      <h2></h2>
    </div>
    <div class="modal-body">
      <p>¿Está seguro de que desea eliminar la especialización?</p>
      <button id="deleteButton_specialization">Eliminar</button>
      <button id="cancel_specialization">Cancelar</button>
    </div>
    <div class="modal-footer">
      <h3></h3>
    </div>
  </div>
  <br>
  <br> 
  <center><h2>Gestión de Especializaciones</h2></center>
    <div id="show-specializations"><table>
      <tr>
        <th>ID</th>
        <th>Nombre</th> 
        <th style="text-align: right">
          <a id="add_appointment" href="{{ url_for('add_specialization')}}">
            <i class="fa fa-plus-circle" style="font-size:20px;color:white"></i>
          </a>
        </th>
      </tr>
      {% for especializacion in especializacion %}
        <tr>
          <td>{{especializacion.id}}</td>
          <td>{{especializacion.speciality}}</td>
          <td style="text-align: right;">
            <a href="{{ url_for('modify_specialization',id=especializacion.id)}}"><i class="fa fa-pencil" style="font-size:16px;color:black"></i></a>
            <button id="delete_specialization" value= "{{especializacion.id}}" onclick="openModal_specialization({{especializacion.id}})" name="id"><i class="fa fa-trash" style="font-size:16px;color:black"></i></button>
          </td> 
        </tr>
      {% endfor%}
    </table></div>
  </div>
{% endblock %}