{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <div id="cuerpoHeredado">
  <h1> Bienvenido {{active_user.name}}</h1>
      <center><h2>Datos de los usuarios</h2></center>
      <table>
        <tr>
          <th>Cédula de Identidad</th>
          <th>Username</th>
          <th>Nombre</th> 
          <th>Apellido</th>
          <th>Correo electrónico</th>
          <th></th>
          <th></th>
        </tr>
        {% for user in users %}
          <tr>
            <td>{{user.ci}}</td>
            <td>{{user.username}}</td>
            <td>{{user.name}}</td>
            <td>{{user.last_name}}</td> 
            <td>{{user.email}}</td>
            <td>
              <a href=""><i class="fa fa-pencil" style="font-size:16px;color:black"></i></a>
            </td>
            <td>
              <a href=""><i class="fa fa-trash" style="font-size:16px;color:black"></i></a>
            </td>
          </tr>
        {% endfor%}
      </table>
    </div>
  </div>
{% endblock %}